<aside class="w-fit bg-base-100 border-r border-base-300 min-h-screen top-0">
    <div class="menu-title text-2xl">
        <div class="flex flex-row items-center justify-center">
            Talent Hub
            <div class="badge badge-soft badge-info ml-2">{{computedRole()}}</div>

        </div>

        <div class="badge badge-lg badge-secondary">Hola, {{userName()}}</div>

    </div>

    <ul class="menu w-full">
        @for (item of menu(); track item) {
        <li>
            <a [routerLink]="item.link" routerLinkActive="menu-active" (click)="closeMenu()">{{item.name}}</a>
        </li>
        }

        <li class="mt-4 border-t border-base-300 pt-3">
            <div class="w-full aura text-warning bg-secondary h-8 items-center justify-center">
                <button class="w-full h-full text-white items-center justify-center" (click)="logout()">
                    Cerrar sesión
                </button>

            </div>

        </li>

    </ul>

</aside>