@if (modalOpen()) {
<dialog class="modal modal-open">

    <div class="modal-box">

        <h3 class="font-bold text-lg">
            Nuevo Usuario
        </h3>

        <form class="py-4" [formGroup]="createUserForm">

            <input class="input input-bordered w-full" placeholder="Nombre" formControlName="name">

            <input class="input input-bordered w-full mt-3" placeholder="Correo" formControlName="email">

            <select class="select select-bordered w-full mt-3" formControlName="role">

                <option>Administrador</option>
                <option>Reclutador</option>
                <option>Candidato</option>

            </select>

            <select class="select select-bordered w-full mt-3" formControlName="state">

                <option>Activo</option>
                <option>Inactivo</option>

            </select>

            <div class="modal-action">

                <button class="btn" (click)="closeModal()">
                    Cancelar
                </button>

                <button class="btn btn-primary" type="submit" (click)="handleSubmit()">
                    Guardar
                </button>

            </div>

        </form>

    </div>

</dialog>

}