<div class="flex flex-wrap justify-between gap-4">

    <button class="btn btn-primary" (click)="openModal()">
        Nuevo Usuario
    </button>

    <input type="text" class="input input-bordered" placeholder="Buscar usuario" [value]="search()"
        (input)="search.set($any($event.target).value)">

    <select class="select select-bordered" [value]="roleFilter()" (change)="roleFilter.set($any($event.target).value)">

        @for (role of roles; track role) {
        @switch (role) {

        @case ('ADMIN') {
        <option value="ADMIN">Administrador</option>
        }
        @case ('RECRUITER') {
        <option value="RECRUITER">Reclutador</option>
        }
        @case ('CANDIDATE') {
        <option value="CANDIDATE">Candidato</option>
        }
        @default {
        <option value="Todos">Todos</option>
        }

        }

        }

    </select>

</div>

<div class="overflow-x-auto mt-6">

    <table class="table table-zebra">

        <thead>

            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>

        </thead>

        <tbody>

            @for (user of filteredUsers(); track user.id){
            <tr>

                <td>{{user.name}}</td>

                <td>{{user.email}}</td>

                <td>

                    <div class="badge badge-neutral">

                        @switch(user.role) {
                        @case ('ADMIN') {
                        Administrador
                        }
                        @case ('RECRUITER') {
                        Reclutador
                        }
                        @case ('CANDIDATE') {
                        Candidato
                        }
                        }

                    </div>

                </td>

                <td>

                    @if(user.status==='ACTIVE'){

                    <div class="badge badge-success">
                        Activo
                    </div>

                    }@else{

                    <div class="badge badge-error">
                        Inactivo
                    </div>

                    }

                </td>

                <td>

                    <div class="flex gap-2">

                        <button class="btn btn-sm btn-info" (click)="openEditUserModal(user.id)">
                            Editar
                        </button>

                        <button class="btn btn-sm btn-error" (click)="openDeleteUserModal(user.id)">
                            Eliminar
                        </button>

                    </div>

                </td>

            </tr>

            }

        </tbody>

    </table>

</div>

<app-create-user [modalOpen]="isUserCreateModalOpen()" (close)="closeModal()" />
<app-delete-user [modalOpen]="isUserDeleteModalOpen()" (close)="closeDeleteUserModal()" [user]="selectedUserDelete()" />
<app-edit-user [modalOpen]="isUserEditModalOpen()" (close)="closeEditUserModal()" [user]="selectedUserEdit()!" />