<div class="drawer lg:drawer-open h-screen">

    <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />

    <div #drawerContent class="drawer-content flex flex-col overflow-auto">
        <main class="flex-1 p-4 lg:p-6">
            <label for="my-drawer-1" class="btn drawer-button lg:hidden mb-1">☰</label>
            <router-outlet />
        </main>
    </div>

    <div class="drawer-side">
        <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
        <app-side-bar [menu]="menuItems()" [userName]="user()?.name ?? ''" [role]="user()?.role ?? ''" />
    </div>

</div>

<app-toast [visible]="toastService.visible()" [message]="toastService.message()" [type]="toastService.type()" />