@if(modalOpen()) {
<dialog class="modal modal-open">
    <div class="modal-box">

        <h3 class="font-bold text-xl">
            Editar usuario
        </h3>

        <p class="text-sm text-gray-500">
            Actualiza la información y permisos del usuario
        </p>

        <form class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5" [formGroup]="editUserForm">

            <div>
                <label class="label">
                    Nombre completo
                </label>

                <input class="input input-bordered w-full" formControlName="name">
            </div>

            <div>
                <label class="label">
                    Correo electrónico
                </label>

                <input class="input input-bordered w-full" formControlName="email">
            </div>
            <div>
                <label class="label">
                    Rol
                </label>

                <select class="select select-bordered w-full" formControlName="role">
                    @for (role of roles; track role) {
                    @switch (role) {

                    @case ('ADMIN') {
                    <option value="ADMIN">Administrador</option>
                    }
                    @case ('RECRUITER') {
                    <option value="RECRUITER">Reclutador</option>
                    }
                    @case ('CANDIDATE') {
                    <option value="CANDIDATE">Candidato</option>
                    }
                    }
                    }
                </select>

            </div>

            <div>
                <label class="label">
                    Estado
                </label>

                <select class="select select-bordered w-full" formControlName="status">
                    @for (state of statuses; track state) {
                    <option [value]="state">
                        {{ state }}
                    </option>
                    }
                </select>
            </div>

        </form>

        <!-- <div class="divider">
            Permisos
        </div>


        <div class="grid grid-cols-2 gap-3">

            <label class="cursor-pointer label">

                <span>
                    Crear vacantes
                </span>

                <input type="checkbox" checked class="checkbox checkbox-primary">

            </label>


            <label class="cursor-pointer label">

                <span>
                    Ver reportes
                </span>

                <input type="checkbox" class="checkbox checkbox-primary">

            </label>

        </div>
        -->
        <div class="modal-action">

            <button class="btn btn-ghost" (click)="closeModal()">
                Cancelar
            </button>

            <button class="btn btn-primary" (click)="updateUser()">
                Guardar cambios
            </button>

        </div>

    </div>

</dialog>
}