<td>
    <div class="font-semibold">
        {{vacancy().title}}
    </div>
    <div class="text-xs text-base-content/60">
        {{vacancy().createdAt | date:'dd/MM/yyyy'}}
    </div>
</td>
<td class="hidden lg:table-cell">
    <div>
        {{vacancy().department}}
    </div>
    <div class="text-xs text-base-content/60">
        {{ vacancy().location }} · {{ vacancy().modality }}
    </div>

</td>
<td class="hidden md:table-cell">S/. {{vacancy().salaryMin | number}} - S/. {{vacancy().salaryMax | number}}</td>
<td class="hidden md:table-cell">
    @switch(vacancy().status) {
    @case('ACTIVE'){
    <div class="badge badge-primary">Activa</div>
    }
    @case ('PAUSED') {
    <div class="badge badge-warning"> En pausa</div>
    }
    @case ('CLOSED') {
    <div class="badge badge-info">Cerrada</div>
    }
    }
</td>
<td>
    <div class="badge badge-soft badge-info">
        {{applicantCount()}}
    </div>
</td>
<td>
    <div class="flex flex-wrap gap-x-1 gap-y-0.5">
        <button class="btn btn-dash btn-info" (click)="seeVacancyDetail()">Ver</button>
        <button class="btn btn-dash btn-info" (click)="editVacancy()">Editar</button>
    </div>
</td>