@if (modalOpen()) {
<dialog class="modal modal-open">

    <div class="modal-box">

        <h3 class="font-bold">
            Eliminar usuario
        </h3>

        <p>
            ¿Desea eliminar a este usuario {{user()?.name}}?
        </p>

        @if (user()?.id === userId()) {
        <p class="text-error text-sm mt-2">No puedes eliminar tu propio usuario.</p>
        }

        <div class="modal-action">

            <button class="btn" type="button" (click)="closeModal()">
                Cancelar
            </button>

            <button class="btn btn-error" type="button" [disabled]="user()?.id === userId()" (click)="deleteUser()">
                Eliminar
            </button>

        </div>

    </div>

</dialog>
}