<div class="hero min-h-screen bg-[url('https://wallpaperaccess.com/full/1691727.jpg')]">

    <div class="hero-content text-center">
        <div class="card glass w-96 backdrop-blur-lg">
            <div class="max-w-md card-body items-center text-center">

                <h1 class="card-title text-5xl font-bold text-primary">Talent Hub</h1>
                <p class="text-base-100 font-bold">Entra tu correo electrónico y contraseña</p>
                <label class="input validator w-full" [class.input-error]="emailInput.invalid && emailInput.touched">
                    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                            stroke="currentColor">
                            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                        </g>
                    </svg>
                    <input type="email" placeholder="mail@site.com" [(ngModel)]="email" #emailInput="ngModel"
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                </label>
                @if (emailInput.invalid && emailInput.touched) {
                <div class="text-error ">Ingresa un correo válido</div>
                }

                <label class="input validator w-full">
                    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                            stroke="currentColor">
                            <path
                                d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                            </path>
                            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                        </g>
                    </svg>
                    <input type="password" [(ngModel)]="password" required placeholder="Contraseña" minlength="6"
                        #passwordInput="ngModel" />
                </label>
                @if (passwordInput.invalid && passwordInput.touched) {
                <p class="text-error">
                    Debe ser por lo menos 6 caracteres
                </p>
                }
                <div class="card-actions w-full aura aura-gold">
                    <button class="btn btn-primary btn-block  disabled:bg-gray-400 disabled:text-gray-700"
                        (click)="loginUser()"
                        [disabled]="isSubmiting() || (emailInput.invalid && emailInput.value?.length !== 0) || (passwordInput.invalid && passwordInput.value?.length !== 0)">
                        @if(isSubmiting()) {
                        <span class="loading loading-spinner loading-sm"></span>
                        Ingresando...
                        } @else {
                        Iniciar Sesión
                        }
                    </button>
                </div>
                @if (onSubmitError()) {
                <div class="badge badge-md text-error">Error en autenticación</div>
                }
            </div>

            <div class="max-w-md divider ml-7 mr-7 mt-3 divider-neutral items-center justify-center">
                <p class=" text-primary">Cuentas de demostración</p>
            </div>

            <div class="flex flex-wrap gap-x-1 justify-between ml-7 mr-7 mb-5">
                <button type="button" class="btn btn-sm" (click)="fill('ADMIN')">Administrador</button>
                <button type="button" class="btn  btn-sm" (click)="fill('RECRUITER')">Reclutador</button>
                <button type="button" class="btn  btn-sm" (click)="fill('CANDIDATE')">Candidato</button>

            </div>

        </div>

    </div>

</div>